/* Add horizontal lines */
.mat-elevation-z8 {
  border-collapse: separate;
  border-spacing: 0;
}

/* Add colors to the headings */
.table-heading {
  background-color: #007bff; /* Blue color */
  color: white;
  font-size: 14px;
}

/* Reduce column width */
.mat-column-documentId,
.mat-column-documentName,
.mat-column-fileType,
.mat-column-createDate,
.mat-column-fileSize,
.mat-column-status,
.mat-column-action {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Add horizontal lines to rows */
.table-row {
  border-bottom: 1px solid #dee2e6; /* Gray color */
}

/* Add margin to table */
.mat-table {
  margin-top: 20px;
}

/* Move the search icon closer to the "My Documents" text */
.search-icon {
  margin-left: -60px; /* Adjust as needed to move the icon closer to the "My Documents" text */
}

/* Move the entire search bar closer to the "My Documents" text */
.search-container {
  margin-left: -600px; /* Adjust this value to move the search bar closer */
  border-radius: 5px; /* Add border radius to the search container */
  overflow: hidden; /* Ensure the border radius is applied correctly */
  display: flex; /* Ensure proper alignment of elements */
}
/* Adjust input and button styles to fit within the rounded container */
.search-input {
  border-radius: 10px !important;
}

/* Adjust status and action column widths */
.status-column {
  width: 120px; /* Adjust the width as needed */
}

.action-column {
  width: 200px; /* Adjust the width as needed */
}

/* Style for the search icon within the search container */
.search-container .search-icon {
  border-top-left-radius: 0; /* No rounding on the left */
  border-bottom-left-radius: 0; /* No rounding on the left */
  border-top-right-radius: 5px; /* Rounded right side */
  border-bottom-right-radius: 5px; /* Rounded right side */
}
.spinner {
  position: absolute;
  right: 50%; /* Adjust based on the desired position */
  transform: translateY(-50%);
}

/* Icon text and size styling */
.icon-text {
  font-size: 8px; /* Adjust as needed */
  margin-left: 0px; /* Adjust as needed */
}
.upload-btn{
  font-size: 20px;
  border-radius: 8px;
  
}