<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css"> -->

<body>
  <div class="container">
    <h1>Change Password</h1>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email Address</label>
        <div class="email-field">
          <input formControlName="email" type="email" id="email" name="email">
        </div>
      </div>
      <div class="form-group">
        <label for="new-password">New Password</label>
        <div class="password-field">
          <input formControlName="newPassword" type="{{ showNewPassword ? 'text' : 'password' }}" id="new-password" name="new-password" (input)="updatePasswordStrength()" (focus)="togglePasswordRequirementsPopup(true)" (blur)="togglePasswordRequirementsPopup(false)">
          <i id="toggle-new-password" (click)="togglePassword('new')" class="bi bi-eye-slash"></i>
          <aside>
          <div *ngIf="showPasswordRequirementsPopup" class="password-requirements-popup">
            <h3>The Password Must Contain:</h3>
            <ul>
              <li [class.fulfilled]="isMinLengthFulfilled">At least 8 characters</li>
              <li [class.fulfilled]="isUpperCaseFulfilled">At least one uppercase letter</li>
              <li [class.fulfilled]="isLowerCaseFulfilled">At least one lowercase letter</li>
              <li [class.fulfilled]="isNumberFulfilled">At least one number</li>
              <li [class.fulfilled]="isSpecialCharFulfilled">At least one special character</li>
            </ul>
          </div>
          </aside>
        </div>
        <div class="password-strength-indicator">
          <span class="strength-bar" [ngStyle]="{ 'background-color': passwordStrength === 'weak' || passwordStrength === 'strong' || passwordStrength === 'medium' ? 'red' : 'transparent' }"></span>
          <span class="strength-bar" [ngStyle]="{ 'background-color': passwordStrength === 'strong' ? 'orange' : passwordStrength === 'medium' ? 'orange' : 'transparent' }"></span>
          <span class="strength-bar" [ngStyle]="{ 'background-color': passwordStrength === 'strong' ? 'green' : 'transparent' }"></span>
        </div>
        <div class="password-strength-text" [ngStyle]="{ 'color': passwordStrengthColor }">
          {{ passwordStrengthText }}
        </div>
      </div>
      <div class="form-group">
        <label for="confirm-password">Confirm New Password</label>
        <div class="password-field">
          <input formControlName="confirmPassword" type="{{ showConfirmPassword ? 'text' : 'password' }}" id="confirm-password" name="confirm-password">
          <i id="toggle-confirm-password" (click)="togglePassword('confirm')" class="bi bi-eye-slash"></i>
          <div class="error-message" *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['passwordMismatch']">
            Passwords do not match
          </div>
        </div>
      </div>
      <div style="flex: 1; display: flex; justify-content: space-between;">
        <button type="submit" [disabled]="!changePasswordForm.valid" class="submit-button">Submit</button>
        <button type="button" class="cancel-button" (click)="cancelChangePassword()">Cancel</button>
      </div>
    </form>
  </div>
</body>
