.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.email-field{
  position: relative;
}

.password-field, .email-field {
  position: relative;
}

.password-field input, .email-field input {
  width: 100%;
  padding-right: 30px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.password-field input:focus, .email-field input:focus{
  border-color: #80bdff;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.password-field i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-requirements-popup {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-left: 380px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.password-requirements li.fulfilled {
  color: green;
  font-weight: bold;
}

.password-requirements-popup h3 {
  margin-top: 0;
}

.password-requirements-popup ul {
  padding-left: 20px;
}

.password-strength-indicator {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.strength-bar {
  flex-grow: 1;
  height: 5px;
  margin-right: 2px;
  border-radius: 2px;
}

.password-strength-text {
  margin-top: 5px;
  font-weight: bold;
}

.submit-button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.submit-button:hover {
  background-color: #45a049;
}


.cancel-button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.cancel-button:hover {
  background-color: #da190b;
}
